<div class="form-feria">
    <div class="container-fluid">
        <h1>Creación de Nueva Feria</h1>
        <form role="form" ng-submit="crearFeria()" method="post">
            <div class="col-md-4 col-md-offset-4">
                <h4 align="left">Nombre de Feria</h4>
                <input type="text" ng-model="feria.nombre" placeholder="Nombre de Feria" class="form-control" style="width:25em;" required title="Ingrese Nombre de Feria">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <h4 align="left">Año</h4>  
                <input type="text" ng-model="feria.anno" placeholder="Año de Feria" class="form-control" style="width:25em;" required title="Ingrese el año de la feria">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <h4 align="left">Periodo</h4>  
                <input type="text" ng-model="feria.periodo" placeholder="Peridodo" class="form-control" style="width:25em;" required title="Ingrese el periodo de la feria">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top:1em;">Crear Feria</button>			
            </div>
        </form> 
    </div>
</div>